.texto {
    color: white !important;
}

.redes {
    font-size: 50px !important;
    color:white !important;

}

.caixa1 {
    background-color: #2e2e52 !important;
    height: 120px !important; 
}

.caixa2 {
    background-color: #2e2e52 !important; 
}